# fly.toml app configuration file generated for discord-archiver on 2026-02-10T18:00:10-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'discord-archiver'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
